@charset "UTF-8";

body
{	 
	background-color: rgba(40,40,45,1);
}

div#tudo
{
	padding: 0px 10px 20px 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	width: 1000px;
	position: relative;
	top: 120px;
	margin: 0px auto 200px auto;
}
div#tudo h1
{
	font-family: Arial, sans-serif;
	font-size: 20pt;
	text-align: center;
	color: white;
	
	background-color: rgba(60,60,65,1);
	padding: 0px 0px 0px 0px;
	margin: 0px -10px 0px -10px;
}
div#tudo pre
{
	font-family: Arial, sans-serif;
	font-size: 20pt;
	color: white;
	margin: 10px;
}

div#menu
{
	width: 100%;
	background-color: rgba(60,60,65,1);
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
}
div#menu ul
{
	text-align: left;
}
div#menu li
{
	display: inline-block;
	padding: 0px 0px 0px 0px;
	margin: 0px 25px 0px 25px;
}
div#menu a
{	
	font-family: Arial, sans-serif;
	font-size: 16pt;
	text-decoration: none;
	color: white;
}
div#menu a:hover
{
	color: rgba(50,50,255,1);
	text-decoration: underline;
}